<!doctype html>{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="DealScout API Backend" />
    <title>DealScout API Backend</title>
    <script defer="defer" src="{% static 'react/js/main.aa7f1dbc.js' %}"></script>
    <link href="{% static 'react/css/main.7466f326.css' %}" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>